extends email.layout.pug
block content

   p(class='px-4').
   Your password has been changed successfully you can log in with your new password with the link
   br
   a(class='btn btn-success m-auto px-4' href=hostname + '/login' ) Login
   strong If you didn't change your password, it may be your account has been compromised.   

