extends email.layout.pug
block content
    p(class='px-4').
        Dear #{username}. Your account been created,
        please activate your account by clicking this link
    br
    a(class='btn btn-success m-auto px-4' href=hostname + '/activate?hash=' + userhash ) activate account
